h1 {color: #087408;}
h1 { border-style:double}  
body {background-color: #ddf8ea;}
h2 {color: #087408;}
h3 {color: #d7ac74d9;}
img {border-style:outset}
table {background-color: #f5eee6;}
th {color: #208621;}